<h1>Hello! My name is Aldair Morales</h1>
<p>I originally Guanajuato, Mexico, and I am currently a Web Design and Development student at BYU-Idaho.</p>
<img src="../../public/image/me.jpg" alt="My Photo">